@font-face {
    font-family: 'facebook_letter_facesregular';
    src: url('../font/facebolf-webfont.eot');
    src: url('../font/facebolf-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/facebolf-webfont.woff') format('woff'),
    url('../font/facebolf-webfont.ttf') format('truetype'),
    url('../font/facebolf-webfont.svg#facebook_letter_facesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'komika_axisregular';
    src: url('../font/komikax_-webfont.eot');
    src: url('../font/komikax_-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/komikax_-webfont.woff') format('woff'),
    url('../font/komikax_-webfont.ttf') format('truetype'),
    url('../font/komikax_-webfont.svg#komika_axisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    background-color: #333;
    background: url(/planet_bg.png) 50% 0 no-repeat #333333;
}

li{
    list-style: none;
}

button{
    font-family: komika_axisregular;
}

a,a:hover{
    color:#fff;
}

.login-link-text,.login-button,.login-close-text{
    font-size: 12px;
    font-family: komika_axisregular !important;
}
.login-close-text,.login-close-text:hover{
    color:#000;
    padding: 10px;
}
.accounts-dialog{
    border:4px solid #000;
    background:#ff9900;
}
#login-username-label,#login-password-label{
    color:#000;
    font-family: komika_axisregular !important;
}
#signup-link{
    visibility: hidden;
}

.container{
    &.title .icon{
        color: #fff;
        cursor: pointer;
        position: relative;
        &.notification{
            .badge{
                position: absolute;
                right:0px;
                top:0px;
                background: #ff0000;
            }
        }
        &.enabled{

        }
        &.disabled{
            cursor:default;
            color: #3c3c3c;
        }
    }
    .game-title{
        text-align: left;
        color: #fff;
        font-size: 64px;
        font-family: komika_axisregular;
        line-height: 100px;
    }
    &.startscreen{
        .startpicture{
            background: url("../start.png") no-repeat 50% -45px;
            height: 380px;
        }
        .info{
            text-align: center;
            color: #fff;
            font-size: 25px;
            line-height: 35px;
        }
    }
    &.lessonsscreen, &.usersscreen, &.userdetailsscreen, &.notificationsScreen{
        .lesson, .user, .note{
            position: relative;
            cursor: pointer;
            font-family: facebook_letter_facesregular;
            color: #000;
            &.selected div{
                background-color: #3382B5;
                color: #fff;
            }
            .name{
                font-size: 25px;
                line-height: 30px;
            }
            .description{
                font-size: 20px;
            }
            .score{
                font-size: 30px;
                line-height: 60px;
                .seconden{
                    font-size: 15px;
                }
            }
            .cup{
                color:red;
                position: absolute;
                top:0px;
                width:100px;
                height:108px;
                left:-60px;
                background:url(/cup.png) 0px 0px no-repeat;
            }
        }
        .user-title,.lesson-title{
            font-size: 30px;
            font-family: komika_axisregular;
            color: #fff;
            text-align: center;
            line-height: 40px;
        }
        .user{
            .name{
                font-size: 65px;
                line-height: 65px;
            }
        }
    }
    &.questioncontent{
        background-color: #3399CC;
        border:4px solid #fff;
        text-align: center;
        .title,.description{
            color:#fff;
            font-size: 35px;
            line-height: 45px;
            font-weight: bold;
        }
        .description{
            font-size: 35px;
            line-height: 35px;
        }
    }
    &.gamepausemodal,&.gamestopmodal,&.gameendmodal{
        .alert{
            font-family: komika_axisregular;
            color: #fff;
            h4{
                color: #fff;
                font-weight: bold;
                font-size: 30px;
                text-align: center;
            }
            p{
                text-align: center;
                &.result{
                    line-height:30px;
                }
                &.score{
                    font-size: 30px;
                    line-height: 35px;
                    font-family: komika_axisregular;
                }
            }
        }
        width:400px;
        height:106px;
    }
    &.gamescorecontent,&.gameprogresscontent{
        .score{
            color: #fff;
            font-family: facebook_letter_facesregular;
            font-size: 34px;
            line-height: 34px;
            height: 50px;
            text-align: right;
        }
    }
    .popover {
        background-clip: padding-box;
        background-color: #FFFFFF;
        border: 2px solid rgba(0, 0, 0, 1.0);
        border-radius: 6px 6px 6px 6px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 1.0);
        display: none;
        left: 0;
        max-width: 276px;
        padding: 1px;
        position: absolute;
        text-align: left;
        top: 0;
        white-space: normal;
        z-index: 1010;
    }
    .popover.top .arrow:after {
        border-bottom-width: 0;
        border-top-color: #000000;
        bottom: 1px;
        margin-left: -10px;
    }
    .popover-title {
        background-color: #000;
        border-bottom: 1px solid #EBEBEB;
        border-radius: 5px 5px 0 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 18px;
        margin: 3px;
        padding: 8px 14px;
        color: #fff;
        text-align:center;
    }
}